<div>
    <div class='image span2'><img width='{{alert.imageWidth}}' height='{{alert.imageHeight}}' src='img/{{alert.image}}'></div>
    <div class='span5'>
        {{ alert.title }}
    </div>
    <div>
        {{ alert.context.title }}
    </div>
    <div>
        <img class='artifactImage' src=''>
    </div>
</div>