<div>
    <div class='image span2'><img src='img/{{alert.image}}'></div>
    <div class='span5'>
        {{ alert.title }}</a>
    </div>
    <div>
        <a target='_blank' href='{{ alert.href }}'>{{ alert.data }}</a>
    </div>
    <div>
        <a target='_blank' href='{{ alert.href }}'><img class='artifactImage' src=''></a>
    </div>
</div>