<div class='notification app-padding'>
  <div class='image span2'><img src='/getangularimage/{{alert.image}}'></div>
  <div class='span8 body'>
    <div>
      <a target='_blank' href="{{ alert.href }}">{{ alert.titleText }}</a>
    </div>
    <div><a href='#'
                           data-control="relationshipCalc"
                           data-config='{
                  "personId": "KW4B-TG8",
                  "findPersonId": "KWCB-344",
                  "sessionId": "<%- user.sessionId %>",
                  "currentUserName": "<%- user.profile.displayName %>",
                  "currentUserGender": "<%- (user.profile.gender || " ").toLowerCase() %>"}'>View my relationship</a>
    </div>
    <div class='content'>
      <ul class='details unstyled'>
        <li ng-repeat="field in alert.fields">
          <div class='span3'>{{ field.label }}</div>
          <div class='span7'>{{ field.value }}</div>
        </li>
      </ul>
    </div>
    <div>
      <a target='_blank' href='{{ alert.href }}'><img class='artifactImage' src=''></a>
    </div>
  </div>

  <div class='comments'>
    <div class='header'>Comments</div>
    <ul class='unstyled'>
      <li ng-repeat='comment in alert.comments'>
        <div>
          <a href='#'>
            <img src='{{ comment.user.image }}'>
          </a>
        </div>
        <ul class='unstyled'>
          <li>
            <a href='#'>{{ comment.user.name }}</a> {{ comment.text}}
          </li>
          <li>{{ comment.updated }}</li>
        </ul>
      </li>
      <li>
        <div>
          <a href='#'>
            <img src='/getangularimage/patrick.jpg'>
          </a>
        </div>
        <ul class='unstyled'>
          <li>
            <input class='comment-input' type='text' placeholder="Write a comment...">
          </li>
        </ul>
      </li>
    </ul>

  </div>

</div>