<% page = { 'title' : 'Fambook', 'key': 'Fambook Home'} %>
<% assets = { 'css' : [], 'js' : ['angular-1.0.3.js', 'angular/fambookApp.js', 'angular/services/soiService.js', 'angular/services/watchNotifyService.js',
'angular/directives/notification.js', 'util-fambook.js', 'angular/filters/html-filter.js', 'bootstrap.js',
'angular/directives/chat.js', 'socket.io.js'] } %>

<% assets.css.push({'all': 'index.styl'}) %>

    <script data-control='Main'>
      var user = <%- (typeof user !== 'undefined') ? JSON.stringify(user) : undefined %>;
      console.log("User: ", user)


      var worker = new Worker('/js/worker.js');
      worker.onmessage = function(e) {
        console.log("Received from worker: ", e);
      }
      worker.postMessage({cmd: 'start'}); // Start the worker.
      worker.addEventListener('error', function(e) {
        console.log("Worker error: ", e);
      }, false);






      $('.click-alert').onclick = (function(e) {
        // init the count to 0
        var count = 0;
        //alert("click count: " + count)
        return function(e) {

          //count
          count++;

          if (count === 3) {
            // do something every third time
            alert("Third time's the charm!");
            //reset counter
            count = 0;
          }
        };
      })();

    </script>
<div></div>
<div id='main' class='container-fluid experiments' ng-app="fambook" ng-controller="feedController">
  <div class='no-layout'>
    <h1 class='font21 serif'>Fambook</h1>

    <div class='row-fluid show-grid'>
      <div class='favorites app-padding span3'>
        <h4>FAVORITES</h4>
        <ul class='unstyled'>
          <li>
            <div><a href=''>News Feed</a></div>
            <div>4</div>
          </li>
          <li>
            <div><a href=''>Relatives</a></div>
            <div>6</div>
          </li>
          <li>
            <div><a href=''>Photos</a></div>
            <div>202</div>
          </li>
        </ul>
      </div>
      <div class='feed span6'>
        <div class='spinner'></div>
        <ul class='unstyled app-padding'>
          <li class='app-padding' ng-repeat="alert in alerts | orderBy:-changeTime">
            <notification/>
          </li>
        </ul>
      </div>
      <div class='aux span3'>
        <div class='chat app-padding'>
          <chat />
        </div>
      </div>
      <div class='ajaxTest'>
        <button class='click-alert btn btn-water'>Click alert</button>
      </div>
    </div>
  </div>
</div>
