<% page = { 'title' : 'Fambook', 'key': 'Fambook Home'} %>
<% assets = { 'css' : [], 'js' : [] } %>
<div id="main" class="container-fluid experiments">
  <div class="no-layout">
    <h1 class="font21 serif"><%- t('title')%></h1>
    <div class="row-fluid">
      <div class="col-lg-3">
        <div class="panel">
        <div class="panel-heading">FAVORITES</div>
        <ul>
          <li><span>News Feed</span></li>
          <li><span>Relatives</span><span>6</span></li>
          <li><span>Photos</span><span>202</span></li>
        </ul>
      </div>
      </div>
      <div class="col-lg-6">

      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </div>
</div>
