.app-padding {
  padding: 20px;
}

.favorites {
  border: 1px solid black;
  height: 200px;
  li {
    div:first-child {
      float: left;
    }
    div:last-child {
      margin-left: 20px;
      background-color: green;
      color: white;
      padding: 3px;
      float: right;
    }
    overflow: auto;
    padding-bottom: 5px;
  }
}

.feed {
  border: 1px solid black;
}

.aux {
  border: 1px solid black;
  height: 100%;
}

//div {
//  border: 1px solid red;
//}