.app-padding {
  padding: 20px;
}

.favorites {
  border: 1px solid black;
  height: 200px;
  li {
    div:first-child {
      float: left;
    }
    div:last-child {
      margin-left: 20px;
      background-color: green;
      color: white;
      padding: 3px;
      float: right;
    }
    overflow: auto;
    padding-bottom: 5px;
  }
}

.feed {
  border: 1px solid black;
  li {
    .image {
      //width: 140px;
      //height: 140px;
    }
    //border: 1px solid red;
    min-height: 100px;
  }
}

.aux {
  border: 1px solid black;
  height: 100%;
}

//div {
//  border: 1px solid red;
//}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  overflow: auto;
}