$heading = #DEDBD7;
$light-background = #FAF8F7;
$field-label = #8F8A85;
$dark-text = #4D4D4A;
$gray-blue = #EDEFF4;
$border-color = #E9E9E9;

.app-padding {
  padding: 20px;
}

.app-margin {
  margin: 20px;
}

.favorites {
  height: 200px;
  li {
    div:first-child {
      float: left;
    }
    div:last-child {
      margin-left: 20px;
      background-color: $light-background;
      padding: 3px;
      float: right;
    }
    overflow: auto;
    padding: 5px 0 0 5px;
    margin-bottom: 5px;
  }
  .selected {
    background-color: $light-background;
  }
}

.feed > ul > li {
  //border: 1px solid red;
  min-height: 100px;
}

.feed {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  .notification {
    overflow: auto;
    border-top: 1px solid $border-color;
    .body {
      float: none;
      padding-left: 10px;
    }
    .content {
      .details {
        margin: 10px 0;
      }
      .picture {
        text-align: center;
      }
    }

    .details {
      li {
        div:first-child {
          text-align: right;
          color: $field-label;
        }
        div:last-child {
          color: $dark-text;
        }
        div {
          min-height: 20px;
        }
        overflow: auto;
      }
    }
  }
}

.aux {
  height: 100%;
  .chat {
    .chat-window {
      height: 400px;
      border: 1px solid green;
      .friend {
        color: red;
      }
      .myself {
        color: green;
      }
    }
  }
}

//div {
//  border: 1px solid red;
//}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  overflow: auto;
}

.spinner {
  text-align: center;
  padding-top: 200px;
  background: url(loading.gif) no-repeat 50% 50%;
}

.comments {
  margin-top: 10px;
  font-size: 12px;
  .header {
    background-color: $gray-blue;
    border-bottom: 1px solid white;
    padding-left: 5px;
  }
  ul {
    li {
      padding: 5px 0;
      border-bottom: 1px solid white;
      background-color: $gray-blue;
      overflow: auto;
      div {
        float:left;
        padding-right: 10px;
        a {

        }
      }
      ul {
        float: left;
        li {
          border: none;
          padding: 0;
          .comment-input {
            height: 15px;
            width: 300px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.new-people {
  font-size: 13px;
  .header {
    font-size: 14px;
    background-color: $light-background
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color:
  }
  ul {
    li {
      line-height: 16px;
      padding: 5px 0;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
      overflow: auto;
      div {
        float:left;
        padding-right: 10px;
        a {

        }
      }
      ul {
        float: left;
        li {
          border: none;
          padding: 0;
        }
      }
    }
  }
}
